---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
    {
        date: "2020 - 2024",
        title: "Arquitectura",
        subtitle: "Pontificia Universidad Católica Madre y Maestra (PUCMM)",
        description:
            "Formación académica en diseño arquitectónico, interiorismo y desarrollo de mobiliario personalizado."
    },
    {
        date: "2023 - 2024",
        title: "Diseñador Junior",
        subtitle: "Creative Desing",
        description:
            "Apoyo en planos arquitectónicos e interiores, interpretación de conceptos con clientes y documentación técnica de proyectos."
    },
    {
        date: "2024 - Presente",
        title: "Encargada del área de Diseño",
        subtitle: "Nogal Creations",
        description:
            "Desarrollo de propuestas arquitectónicas, supervisión de mobiliario personalizado y gestión de proyectos desde la idea hasta la ejecución."
    }
];
---

<section id="experience" class="w-full mx-auto max-w-4xl pt-6 bg-cream-50">
    <div class="flex flex-col gap-12">
        <div class="flex flex-col gap-4 items-center text-center">
            <div class="inline-flex items-center gap-2 bg-primary-500/15 px-4 py-2 rounded-full text-sm font-medium uppercase tracking-wide text-primary-700">
                <Icon class="w-4 h-4 text-primary-600" name="portfolio/Clock" />
                <span>Experincia</span>
            </div>

            <Heading text="Work" textGradient="Experience" level={2} />

            <p class="text-secondary-600 max-w-2xl">
                Un recorrido de hitos profesionales que muestran mi crecimiento y pasión por la arquitectura.
            </p>
        </div>

        <ol class="relative mt-16 space-y-4 px-4" aria-label="Professional experience">
            {EXPERIENCE.map(experience => (
                <li>
                    <ExperienceItem {...experience} />
                </li>
            ))}
        </ol>
    </div>
</section>
