---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
    {
        date: "2014 - 2016",
        title: "Graduación en Arquitectura",
        subtitle: "Universidad Xd",
        description:
            "Pontificia Universidad Católica Madre y Maestra (PUCMM). Proyecto de tesis: \"Vivienda Social Sostenible en el Caribe\"."
    },
    {
        date: "2017",
        title: "Primer Proyecto Independiente",
        subtitle: "hola",
        description:
            "Casa residencial en Santiago que marcó el inicio de mi carrera como arquitecto independiente. Un proyecto que definió mi estilo personal."
    },
    {
        date: "2019",
        title: "Reconocimiento Nacional",
        subtitle: "no se que poner en subtitulo",
        description:
            "Premio \"Joven Arquitecto del Año\" - Centro Comunitario en Moca"
    },
    {
        date: "2021",
        title: "Expansión Internacional",
        subtitle: "no se que poner en subtitulo",
        description:
            "Primer proyecto en Costa Rica - Colaboración centroamericana"
    },
    {
        date: "2024",
        title: "Estudio Consolidado",
        subtitle: "no se que poner en subtitulo",
        description:
            "Oficina en Punta Cana - Equipo de 5 profesionales"
    }
];

---

<section id="experience" class="w-full mx-auto max-w-4xl pt-6 bg-cream-50">
    <div class="flex flex-col gap-12">
        <div class="flex flex-col gap-4 items-center text-center">
            <div class="inline-flex items-center gap-2 bg-primary-500/15 px-4 py-2 rounded-full text-sm font-medium uppercase tracking-wide text-primary-700">
                <Icon class="w-4 h-4 text-primary-600" name="portfolio/Clock" />
                <span>Experincia</span>
            </div>

            <Heading text="Work" textGradient="Experience" level={2} />

            <p class="text-secondary-600 max-w-2xl">
                Un recorrido de hitos profesionales que muestran mi crecimiento y pasión por la arquitectura.
            </p>
        </div>

        <ol class="relative mt-16 space-y-4 px-4" aria-label="Professional experience">
            {EXPERIENCE.map(experience => (
                <li>
                    <ExperienceItem {...experience} />
                </li>
            ))}
        </ol>
    </div>
</section>
