---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import ProjectsHero from '../components/projects/ProjectsHero.astro';
import ProjectsGrid from '../components/projects/ProjectsGrid.astro';

const projects: CollectionEntry<"projects">[] = await getCollection("projects");

const filteredProjects = projects
    .filter(projects => projects.data.type !== 'test')
    .sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<Layout title="Projects" description="A list of my projects.">
    <main class="bg-cream-50 pt-12 pb-6">
        <!-- Hero Section -->
        <ProjectsHero />
        <!-- Projects Grid -->
        <ProjectsGrid projects={filteredProjects} />
    </main>
</Layout>

